@use "sass:color";

.site-footer {
	background-color: color.adjust($color__header-background, $lightness: -5%);
	color: $color__header-link;
	padding-bottom: 40px;

	a,
	.widget-title {
		color: $color__header-link;
	}

	a:hover {
		color: $color__header-link-active;
	}

	input[type="text"] {
		background-color: color.adjust($color__header-background, $lightness: -10%);
		border-color: color.adjust($color__header-background, $lightness: -15%);

		&:active,
		&:focus,
		&:hover {
			border-color: color.adjust($color__header-background, $lightness: -25%);
			box-shadow: inset 0 0 4px color.adjust($color__header-background, $lightness: -15%);
			color: $color__header-link;
		}
	}

	.searchform .searchsubmit {
		color: $color__header-link;

		&:active,
		&:focus,
		&:hover {
			background-color: color.adjust($color__header-background, $lightness: -15%) !important;
			box-shadow: none;
		}
	}
}

.footer-widgets {

	.footer-column {
		padding-top: 40px;
	}

	+ .footer-bottom {
		border-top: 0;
		padding-top: 0;
	}
}
