.site-header {
	background-color: $color__header-background;
}

.site-title a {
	color: $color__header-link;
}

.site-identity {
	padding: 20px 0;
}

.titles-wrap {
	display: none;
}

.custom-logo-link svg {
	display: block;
	margin: 8px auto;
	max-width: 300px;
}
