$font__family-body: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$font__family-headline: "Fira Sans";
$font__family-monospace: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;

$font__line-height-body: 1.6;
$font__line-height-headline: 1.1;
$font__line-height-pre: 1.6;

$size__font-copy: 20px;
